<form name="formIn">
    <div class="radio" ng-repeat="item in options.radios.collection" ng-if="!options.radios.inline">
        <label>
            <input type="radio" name="inputIn" ng-value="item.key" ng-model="$parent.$parent.model" ng-disabled="ngDisabled">
            <span translate="{{item.text}}"></span>
        </label>
    </div>

    <label class="radio-inline" ng-repeat="item in options.radios.collection" ng-if="options.radios.inline">
        <input type="radio" name="inputIn" ng-value="item.key" ng-model="$parent.$parent.model" ng-disabled="ngDisabled">
        <span translate="{{item.text}}"></span>
    </label>
</form>
