<!--single of objects-->
<select class="form-control"
        ng-model="$parent.model"
        ng-disabled="ngDisabled"
        ng-if="!options.select.multiple && !options.select.selectOptions"
        ng-options="item for item in options.select.collection">
</select>

<!--multiple of objects-->
<select class="form-control"
        ng-model="$parent.model"
        ng-disabled="ngDisabled"
        multiple
        ng-if="options.select.multiple && !options.select.selectOptions"
        ng-options="item for item in options.select.collection" >
</select>

<!--single of objects with customize selectOptions-->
<select class="form-control"
        ng-model="$parent.model"
        ng-disabled="ngDisabled"
        ng-if="!options.select.multiple && options.select.selectOptions"
        ng-options="{{options.select.selectOptions()}}">
</select>

<!--multiple of objects with customize selectOptions-->
<select class="form-control"
        ng-model="$parent.model"
        ng-disabled="ngDisabled"
        multiple
        ng-if="options.select.multiple && options.select.selectOptions"
        ng-options="{{options.select.selectOptions()}}">
</select>
