<!DOCTYPE html>
<html lang="en" ng-app="demoApp"></html>
<head>
  <title>Angular Easy Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/demo.css">
  <link rel="stylesheet" href="styles/docs.css">
</head>
<body ng-controller="DemoCtrl">
  <div class="container">
    <h2>Angular Easy Form</h2>
    <div class="row">
      <div class="col-md-9">
        <div class="bs-docs-section">
          <h3 id="supported-controls" class="page-header">Supported controls</h3>
          <h4>Inputs</h4>
          <p>Most common form control, text-based input fields. Includes support for all HTML5 types:</p>
          <ul>
            <li>text</li>
            <li>password</li>
            <li>datetime</li>
            <li>datetimeLocal</li>
            <li>date</li>
            <li>month</li>
            <li>time</li>
            <li>week</li>
            <li>number</li>
            <li>email</li>
            <li>url</li>
            <li>search</li>
            <li>tel</li>
            <li>color</li>
          </ul>
          <div class="bs-example">
            <div class="row">
              <div class="col-md-8">
                <ng-form>
                  <div class="form-group">
                    <easy-input type="text" ng-model="demo.controls.inputs.text" label="text" placeholder="please enter text" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="password" ng-model="demo.controls.inputs.password" label="password" placeholder="please enter password" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="datetime" ng-model="demo.controls.inputs.datetime" label="&quot;datetime&quot;" placeholder="please enter datetime" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="datetime-local" ng-model="demo.controls.inputs.datetimeLocal" label="datetime local" placeholder="please enter datetime local" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="date" ng-model="demo.controls.inputs.date" label="date" placeholder="please enter date" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="month" ng-model="demo.controls.inputs.month" label="month" placeholder="please enter Text" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="time" ng-model="demo.controls.inputs.time" label="time" placeholder="please enter time" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="week" ng-model="demo.controls.inputs.week" label="week" placeholder="please enter week" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="number" ng-model="demo.controls.inputs.number" label="number" placeholder="please enter number" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="email" ng-model="demo.controls.inputs.email" label="email" placeholder="please enter email" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="url" ng-model="demo.controls.inputs.url" label="url" placeholder="please enter date" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="search" ng-model="demo.controls.inputs.search" label="search" placeholder="please enter search" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="tel" ng-model="demo.controls.inputs.tel" label="tel" placeholder="please enter tel" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="color" ng-model="demo.controls.inputs.color" label="color" placeholder="please enter color" ng-disabled="disabled"></easy-input>
                  </div>
                </ng-form>
              </div>
              <div class="col-md-4">
                <pre>{{demo.controls.inputs | json}}</pre>
              </div>
            </div>
          </div>
          <h4>Textarea</h4>
          <p>Form control which supports multiple lines of text. Change rows attribute as necessary.</p>
          <div class="bs-example">
            <div class="row">
              <div class="col-md-8">
                <ng-form>
                  <div class="form-group">
                    <easy-input type="textarea" ng-model="demo.controls.textarea.basic" label="basic" placeholder="please enter something" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="textarea-autosize" ng-model="demo.controls.textarea.autosize" label="autosize" placeholder="please enter something" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="text-angular" ng-model="demo.controls.textarea.textAngular" label="textAngular" placeholder="please enter something" ng-disabled="disabled"></easy-input>
                  </div>
                </ng-form>
              </div>
              <div class="col-md-4">
                <pre>{{demo.controls.textarea | json}}</pre>
              </div>
            </div>
          </div>
          <h4>Checkboxes and radio</h4>
          <div class="bs-example">
            <div class="row">
              <div class="col-md-8">
                <ng-form>
                  <div class="form-group">
                    <easy-input type="checkbox" ng-model="demo.controls.checkboxes.checkbox" label="Boolean" options="checkboxOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="checkboxes" name="checkboxesCheckboxes1" ng-model="demo.controls.checkboxes.checkboxes" label="checkboxes" options="checkboxesOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="checkboxes" name="checkboxesCheckboxes2" ng-model="demo.controls.checkboxes.checkboxesInline" label="checkboxes inline" options="checkboxesInlineOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="radios" name="checkboxesRadios" ng-model="demo.controls.checkboxes.radios" label="radios" options="radiosOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="radios" name="checkboxesInlineRadios" ng-model="demo.controls.checkboxes.radiosInline" label="radios inline" options="radiosInlineOptions" ng-disabled="disabled"></easy-input>
                  </div>
                </ng-form>
              </div>
              <div class="col-md-4">
                <pre>{{demo.controls.checkboxes | json}}</pre>
              </div>
            </div>
          </div>
          <h4>Select</h4>
          <div class="bs-example">
            <div class="row">
              <div class="col-md-8">
                <ng-form>
                  <div class="form-group">
                    <easy-input type="select" ng-model="demo.controls.select.basic" label="single select" options="selectOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="select" ng-model="demo.controls.select.customize" label="single select with customize selectOptions" options="selectSingleCustomizeSelectOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="select" ng-model="demo.controls.select.multiple" label="multiple select" options="selectMultipleOptions" ng-disabled="disabled"></easy-input>
                  </div>
                </ng-form>
              </div>
              <div class="col-md-4">
                <pre>{{demo.controls.select | json}}</pre>
              </div>
            </div>
          </div>
          <h4>UI Select</h4>
          <div class="bs-example">
            <div class="row">
              <div class="col-md-8">
                <ng-form>
                  <div class="form-group">
                    <easy-input type="ui-select" ng-model="demo.controls.uiSelect.basic" label="single ui-select" options="uiSelectOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="ui-select" ng-model="demo.controls.uiSelect.singleProperty" label="single property ui-select" options="uiSelectSinglePropertyOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="ui-select" ng-model="demo.controls.uiSelect.multiple" label="multiple select" options="uiSelectMultipleOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="ui-select" ng-model="demo.controls.uiSelect.remote" label="Remote Data Basic" options="uiSelectRemoteOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <!--easy-input(type='ui-select-multiple', ng-model='demo.controls.uiSelect.remoteMultiple',-->
                    <!--label='"Remote Data Multiple"', options='uiSelectRemoteOptions')-->
                  </div>
                </ng-form>
              </div>
              <div class="col-md-4">
                <pre>{{demo.controls.uiSelect | json}}</pre>
              </div>
            </div>
          </div>
          <h4>Custom</h4>
          <div class="bs-example"></div>
        </div>
        <div class="bs-docs-section">
          <h3 id="layouts" class="page-header">Layouts</h3>
          <h4>Vertical Form</h4>
          <div class="bs-example">
            <ng-form>
              <div class="form-group">
                <easy-input type="text" ng-model="demo.layout.vertical.text" label="Text" placeholder="placeholder" ng-disabled="disabled"></easy-input>
              </div>
            </ng-form>
          </div>
          <h4>Horizontal Form</h4>
          <div class="bs-example">
            <ng-form class="form-horizontal">
              <div class="form-group">
                <easy-input type="text" ng-model="demo.layout.horizontal.text" wrapper="horizontal-form" label="Text" placeholder="placeholder" ng-disabled="disabled"></easy-input>
              </div>
            </ng-form>
          </div>
          <h4>Inline Form</h4>
          <div class="bs-example">
            <ng-form class="form-inline">
              <div class="form-group">
                <easy-input type="text" ng-model="demo.layout.inline.text1" wrapper="inline-form" placeholder="placeholder" ng-disabled="disabled"></easy-input>
              </div>
              <div class="form-group">
                <easy-input type="text" ng-model="demo.layout.inline.text2" wrapper="inline-form" placeholder="placeholder" ng-disabled="disabled"></easy-input>
              </div>
              <div class="form-group">
                <easy-input type="text" ng-model="demo.layout.inline.text3" wrapper="inline-form" placeholder="placeholder" ng-disabled="disabled"></easy-input>
              </div>
            </ng-form>
            <ng-form class="form-inline">
              <div class="form-group">
                <easy-input type="text" ng-model="demo.layout.inline.text4" wrapper="inline-form" label="some long text as label" placeholder="placeholder" ng-disabled="disabled"></easy-input>
              </div>
            </ng-form>
          </div>
        </div>
        <div class="bs-docs-section">
          <h3 id="validation" class="page-header">Validation</h3>
          <h4>Basic</h4>
          <div class="bs-example">
            <div class="row">
              <div class="col-md-8">
                <ng-form name="validateMethodBasicForm" class="form">
                  <div class="form-group">
                    <easy-input type="text" name="required" ng-model="demo.validation.basic.required" label="Required" placeholder="Required" validator="required" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="text" name="url" ng-model="demo.validation.basic.url" label="URL" placeholder="URL" validator="url" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="text" name="email" ng-model="demo.validation.basic.email" label="Email" placeholder="Email" validator="email" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="text" name="number" ng-model="demo.validation.basic.number" label="Number" placeholder="Number" validator="number" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="checkboxes" name="checkbox" ng-model="demo.validation.basic.checkbox" label="Checkbox" validator="required" ng-disabled="disabled" options="checkboxesOptions"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="radios" name="radios1" ng-model="demo.validation.basic.radios1" label="Radios" validator="required" ng-disabled="disabled" options="radiosOptions"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="radios" name="radios2" ng-model="demo.validation.basic.radios2" label="Radios" validator="required" ng-disabled="disabled" options="radiosOptions"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="ui-select" name="uiSelectSingleBasic" ng-model="demo.validation.basic.uiSelect.basic" label="single ui-select" validator="required" options="uiSelectOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <easy-input type="ui-select" name="uiSelectSingleProperty" ng-model="demo.validation.basic.uiSelect.singleProperty" label="single property ui-select" validator="required" options="uiSelectSinglePropertyOptions" ng-disabled="disabled"></easy-input>
                  </div>
                  <div class="form-group">
                    <button easy-submit="validateMethodBasicForm" class="btn btn-primary">Submit</button>
                  </div>
                </ng-form>
              </div>
              <div class="col-md-4">
                <pre>{{demo.validation.basic | json}}</pre>
                <pre>
                  <p>form.$pristine = {{validateMethodBasicForm.$pristine}}</p>
                  <p>form.$dirty = {{validateMethodBasicForm.$dirty}}</p>
                  <p>form.$valid = {{validateMethodBasicForm.$valid}}</p>
                  <p>form.$invalid = {{validateMethodBasicForm.$invalid}}</p>
                  <p>form.$submitted = {{validateMethodBasicForm.$submitted}}</p>
                  <p>form.$error = {{validateMethodBasicForm.$error | json}}</p></pre>
              </div>
            </div>
          </div>
          <h4>Multiple</h4>
          <div class="bs-example">
            <ng-form class="form">
              <div class="form-group">
                <easy-input type="text" ng-model="demo.validation.multiple1" ng-disabled="disabled" label="&quot;Required + Email&quot;" placeholder="&quot;placeholder&quot;" validator="required, email"></easy-input>
              </div>
            </ng-form>
          </div>
          <!--h4 Watch method-->
          <!--.bs-example-->
          <!--    ng-form.form-->
          <!--        .form-group-->
          <!--            easy-input(type='text', ng-model='demo.validation.methods.watch', validMethod='watch'-->
          <!--                label='"required"', placeholder='"required"', validator='required', ng-disabled='disabled')-->
          <h4>Blur method</h4>
          <div class="bs-example">
            <div class="row">
              <div class="col-xs-8">
                <ng-form name="validateMethodBlurForm" class="form">
                  <div class="form-group">
                    <easy-input type="text" ng-model="demo.validation.methods.blur" label="&quot;required&quot;" placeholder="&quot;required&quot;" validator="required" ng-disabled="disabled"></easy-input>
                  </div>
                </ng-form>
              </div>
              <div class="col-md-4">
                <pre>{{demo.validation.methods.blur | json}}</pre>
                <pre>
                  <p>form.$pristine = {{validateMethodBlurForm.$pristine}}</p>
                  <p>form.$dirty = {{validateMethodBlurForm.$dirty}}</p>
                  <p>form.$valid = {{validateMethodBlurForm.$valid}}</p>
                  <p>form.$invalid = {{validateMethodBlurForm.$invalid}}</p>
                  <p>form.$submitted = {{validateMethodBlurForm.$submitted}}</p>
                  <p>form.$error = {{validateMethodBlurForm.$error | json}}</p></pre>
              </div>
            </div>
          </div>
          <h4>Sumbit method</h4>
          <div class="bs-example">
            <ng-form name="validateMethodSubmitForm" class="form">
              <div class="form-group">
                <easy-input type="text" ng-model="demo.validation.methods.submit.text" name="validateMethodSubmitRequired" label="&quot;Required&quot;" placeholder="&quot;Required&quot;" validator="required" ng-disabled="disabled"></easy-input>
              </div>
              <div class="form-group">
                <easy-input type="select" ng-model="demo.validation.methods.submit.select" label="&quot;single select&quot;" options="selectOptions" ng-disabled="disabled" validator="required"></easy-input>
              </div>
              <button easy-submit="validateMethodSubmitForm" ng-click="submit()" class="btn btn-primary">Submit</button>
            </ng-form>
          </div>
          <h4>Event method</h4>
          <div class="bs-example">
            <ng-form name="validateMethodEventForm" class="form">
              <div class="form-group">
                <easy-input type="text" ng-model="demo.validation.methods.event" ng-disabled="disabled" label="&quot;Required&quot;" placeholder="&quot;Required&quot;" validator="required" valid-trigger-event="trigger-validate"></easy-input>
              </div>
              <button ng-click="trigValidation()" class="btn btn-primary">Trigger</button>
            </ng-form>
          </div>
          <h4>Valid / Invalid Callback</h4>
          <div class="bs-example">
            <ng-form name="validateCallbackForm" class="form">
              <div class="form-group">
                <easy-input type="text" ng-model="demo.validation.callback" ng-disabled="disabled" name="validateCallback" label="&quot;Required&quot;" placeholder="&quot;Required&quot;" validator="required" valid-callback="validCallback()" invalid-callback="invalidCallback()"></easy-input>
              </div>
              <button easy-submit="validateCallbackForm" class="btn btn-primary">Submit</button>
            </ng-form>
          </div>
          <h4>Customize Validation</h4>
          <div class="bs-example">
            <ng-form name="customValidateForm" class="form">
              <div class="form-group">
                <easy-input type="text" name="model1" ng-model="demo.validation.customize1" ng-disabled="disabled" label="&quot;model 1&quot;" validator="required"></easy-input>
              </div>
              <div class="form-group">
                <easy-input type="text" name="model2" ng-model="demo.validation.customize2" ng-disabled="disabled" label="&quot;model 2&quot;" validator="required" custom-validator="customValid" valid-trigger-event="trigger-model2-validate"></easy-input>
              </div>
            </ng-form>
          </div>
        </div>
        <div class="bs-docs-section">
          <h3 id="ng-form-extend" class="page-header">ngForm extend</h3>
          <div class="bs-example"></div>
        </div>
        <div class="bs-docs-section">
          <h3 id="buttons" class="page-header">Buttons</h3>
          <h4>Submit loading</h4>
          <div class="bs-example"></div>
          <h4>Enable / Disable by validation</h4>
          <div class="bs-example"></div>
        </div>
        <div class="bs-docs-section">
          <h3 id="i18n" class="page-header">I18n</h3>
          <div class="bs-example">
            <div class="row">
              <div class="col-md-8">
                <ng-form>
                  <div class="form-group">
                    <easy-input type="text" ng-model="demo.i18n.inputs.text" label="LABEL" placeholder="PLACEHOLDER" ng-disabled="disabled"></easy-input>
                  </div>
                </ng-form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
          <ul data-spy="affix" data-offset-top="60" data-offset-bottom="200" class="nav bs-docs-sidenav">
            <li>
              <button ng-click="enable()" class="btn btn-xs btn-primary">Enable</button>
              <button ng-click="disable()" class="btn btn-xs btn-default">Disable</button>
            </li>
            <li><a href="#inputs">Inputs</a></li>
            <li><a href="#static">Static</a></li>
            <li><a href="#layouts">Layouts</a></li>
            <li><a href="#validation">Validation</a></li>
            <li><a href="#ng-form-extend">ngForm extend</a></li>
            <li><a href="#buttons">Buttons</a></li>
            <li><a href="#i18n">I18n</a></li>
            <li>
              <button ng-click="changeLanguage('de')" class="btn btn-xs btn-primary">DE</button>
              <button ng-click="changeLanguage('en')" class="btn btn-xs btn-default">EN</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <!-- bower:js-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/checklist-model/checklist-model.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/rangy/rangy-core.min.js"></script>
  <script src="bower_components/rangy/rangy-cssclassapplier.min.js"></script>
  <script src="bower_components/rangy/rangy-selectionsaverestore.min.js"></script>
  <script src="bower_components/rangy/rangy-serializer.min.js"></script>
  <script src="bower_components/textAngular/src/textAngular.js"></script>
  <script src="bower_components/textAngular/src/textAngular-sanitize.js"></script>
  <script src="bower_components/textAngular/src/textAngularSetup.js"></script>
  <script src="bower_components/rangy-official/rangy-selectionsaverestore.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-elastic/elastic.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
  <!-- endbower-->
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="scripts/module.js"></script>
  <script src="scripts/providers/button.js"></script>
  <script src="scripts/providers/form.js"></script>
  <script src="scripts/providers/input.js"></script>
  <script src="scripts/providers/template.js"></script>
  <script src="scripts/providers/validation.js"></script>
  <script src="scripts/directives/button.js"></script>
  <script src="scripts/directives/form.js"></script>
  <script src="scripts/directives/input.js"></script>
  <script src="scripts/default/form-wrappers.js"></script>
  <script src="scripts/default/input-wrappers.js"></script>
  <script src="scripts/default/inputs.js"></script>
  <script src="scripts/default/validation-rules.js"></script>
  <script src="scripts/templates.js"></script>
  <script src="scripts/demo.js"></script>
</body>